# Terraform
.terraform/
terraform.tfstate*
crash.log
*.tfvars
*.tfplan
.terraform.tfstate.lock.info

# GCP Credential
credentials.json
*-credentials.json
service-account*.json

# Pycharm
.idea

# Mac OS
.DS_Store

# Claude
.claude
